* {
    font-family: "Times New Roman", Times, serif;
}

.commande {
    overflow-y: hidden;
}
.aside {
    width: 15%;
    position: fixed;
    height: 100vh;
    /* top: 0; */
    text-indent: 10px;
    /* margin-left:20px; */
    /* border-radius: 6px; */
    background-color: rgb(44, 41, 41);
}

.aside ul a {
    /* display:none; */
    width: 100%;
    text-decoration: none;
    border: none;
    color: white;
}

/* .center
    {
        width:25%;
        height: 150vh;
        position: relative;
        left:20%;
        background-color:rgb(44, 41, 41);
    } */
.men {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.center {
    width: auto;
    height: 90%;
    border-radius: 5px;
    /* display:flex;
        justify-content: center; */
}

.profile {
    display: flex;
    flex-direction: column;
    width: 84%;
    height: 95vh;
    position: relative;
    left: 16%;
    top: -5%;
}

#apprHover:hover {
    background-color: rgba(68, 68, 68, 0.253);
    color: rgb(0, 0, 0);
}

.info {
    width: 100%;
    height: 11%;
    margin-bottom: 2%;
    border-bottom: 2px solid black;
    background-color: rgba(238, 236, 236, 0.884);
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
}

.both {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
}

li#sidebar {
    list-style: none;
    /* text-align:center; */
    padding: 17px 04px;
    width: 100%;
    text-indent: 13%;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.actived {
    background: rgb(202, 13, 13);
    color: rgb(247, 243, 243);
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    border-right: 6px solid rgb(255, 255, 255);
}

.sidebar {
    height: auto;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
}

.time,
.factory_name {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.what-time,
.connectUser {
    font-size: 1.2em;
}

.details {
    width: 70%;
    height: auto;
    background: rgb(248, 245, 245);
}

.in-out {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.inside {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.outside {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown {
    width: 60%;
    border: none;
    height: 27px;
    /* border: 1px solid grey; */
    border-radius: 3px;
    text-align: center;
}

.put {
    width: 60%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 4px;
}

i {
    cursor: pointer;
}

.btno-danger {
    width: 40%;
    height: 25px;
    border-radius: 6px;
    border: none;
    color: white;
    background: rgb(202, 13, 13);
}

.btn-logout {
    width: 100%;
    background-color: rgb(243, 78, 78);
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

.picker {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    margin-right: 20px;
}

.data {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.total {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.tot-in,
.tot-out {
    width: 35%;
    height: 120px;
    border-radius: 5px;
    background-color: rgb(44, 41, 41);
    border: 2px;
}

/* Receipt design */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.receipt {
    width: 35vw;
    /* min-height: 95vh; */
    height: auto;
    /* background-color:brown; */
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 2px 6px 8px black;
}

.receipt_head {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    /* background-color:red; */
}

.receipt_body {
    height: auto;
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    /* background-color:green; */
}

.receipt_footer {
    height: auto;
    /* height: 10vh; */
    /* background-color:blue; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

td,
th {
    width: auto;
    text-align: center;
}

tfoot tr {
    margin-top: 50px;
}

.white_notify {
    background-color: rgba(255, 255, 255, 0.9);
    width: calc(100% / 4.6);
    height: 110px;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgb(190, 190, 190);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.counter_notify {
    width: 40%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    /* background-color: brown; */
}
